.category__getAll {
    margin-bottom: 5.5em;
}

.category__getAll-header {
    background-color: var(--accent-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
}
    
.category__getAll h1 {
    font-family: var(--second-font);
    font-size: 1.2em;
}

.category__getAll p {
    font-family: var(--main-font);
    font-size: 1em;
}


.category__carousel {
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; /* Firefox */
}

.category__carousel::-webkit-scrollbar {
    display: none; /* Chrome */
}

.category__carousel-item {
    border: #CE7240 solid 1px;
    border-radius: 5px;
    margin-inline-start: 1em;
    scroll-snap-align: start;
    width: 200px;
    height: 150px;
    align-items: flex-start;
    padding: 5px;
}



.category__preview-button {
    display: none;
}

